.card {
  max-width: 300px;
  margin: auto;
}

.card-avatar {
  background-image: url('/assets/img/uladzimir.jpg');
  background-size: cover;
}

.card-actions {
  display: flex;
}

.flex-spacer {
  width: 100%;
}
